<html data-ng-app="testApp"> 
	<head>
		<title>AngularJS</title>
		<style>
			.custom{
				background:yellow;
			}
		</style>
	</head>
	<body>
		<input type="button" data-custom-mouse-enter data-custom-mouse-leave value="Click" data-custom-style="custom"/>
	</body>
	<script src="../bower_components/angular/angular.js"></script>
	<script src="../bower_components/angular-route/angular-route.js"></script>
	<script src="../app.js"></script>
	<script src="../components/directive.js"></script>
</html>

